body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('Main interface wallpapers/bkats.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(15px);
    z-index: 0;
}

.header h1 {
    position: relative;
    z-index: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.box {
    flex: 0 1 150px;
    text-align: center;
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.box p {
    margin: 5px 0 0;
    font-size: 16px;
    color: black;
}

.moon-image {
    width: 100%;
    height: auto;
    max-height: 80px;
    object-fit: cover;
}

.jupiter-image {
    width: 100%;
    height: auto;
    max-height: 80px;
    object-fit: cover;
}
